<table class="White_Test" align="center" width="850px">
  <tr>
    <td colspan=2>
    <h1 class="White_Test">Clients</h1>
    </td>
  </tr>
  <tr>
    <td><b>Name</b></td>
    <td><b>Date-of-Birth</b></td>
  </tr>

  <% for client in @clients %>
    <tr>
      <td><%= link_to client.firstname, :controller => "clients", :action => "view", :id => client.id %></td>
      <td><%= client.dob %></td>
    </tr>
  <% end %>
</table>
