<% if flash[:notice] %>
  <table class="White_Test" align="center" width="850px" style="text-align:center; font-size:16pt; padding-top:15px">
    <tr><td><%= flash[:notice] %></td></tr>
  </table>
<% end %>

<table class="White_Test" align="center" width="850px" style="text-align:left">
  <tr><td><h1><%= @client.firstname %> <%= @client.lastname %></h1></td></tr>
  <tr>
    <td>
      Date-of-Birth: <%= @client.dob %>
    </td>   
  </tr>
</table>
