<div class="sf_outer_wrapper">
	<div class="sf_wrapper">
		<div style='display:block;overflow:visible;margin:0;padding:0;'>
			<div class='sf_undocked' style='display:block;height:0;position:absolute;margin:0;padding:0;overflow:visible;width:0;top:0;z-index:999998;left:auto;'></div>
		</div>

	
		<div class="sf_navigation_top"></div>
		<div class="sf_extra10"><span></span></div>

		<div class="sf_header_wrapper">
			<div class="sf_extra2"><span></span></div>

			<div class="sf_main_header">
				<div style="display:block" ><font face="Garamond, Times, Serif" style="font-size: 42px;">The Law Office of Gary E. Prust</font></div>
			</div>

			<div class="sf_extra3"><span></span></div>

			<div class="sf_sub_header">
				<div style="display:block" >Your Subtitle text</div>
			</div>
		</div>

		<div class="sf_extra4"><span></span></div>

		<div class="sf_navigation">
			<div style="display:block">
				<ul id="Nav1" class="nav">
					<li class="sf_first_nav_item">
					<%= link_to "Texas Criminal Defense", :controller => "pages", :action => "home" %>
					</li>

					<li>
					<%= link_to "About", :controller => "pages", :action => "about" %>
					</li>

					<li class="sf_last_nav_item">
					<%= link_to "Contact", :controller => "pages", :action => "contact" %>
					</li>

					<li class="sf_last_nav_item">
					<%= link_to "Login" %>
					</li>
				</ul>
			</div>
		</div>

		<div class="sf_extra5"><span></span></div>

		<div class="sf_pagetitle">
			<div style="display:block" ><h1><b><font face="Garamond, Times, Serif">Law Office of Gary E. Prust - Central Texas Criminal Defense</font></b></h1></div>
		</div>

		<div class="sf_extra6"><span></span></div>
		<div class="sf_subnavigation"></div>
		<div class="sf_extra11"><span></span></div>

		<div class="sf_content">
			<div style="display:block;zoom:1" >
				<div id="content1">
					<div style="display:block" >
						<div style="display:block" >

<font face="Garamond, Times, Serif" style="font-size: 16px;">
	<b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">If you have been accused of a crime in central </span></b>
	<b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">Texas</span></b>
	<b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">, you need an experienced attorney on your side who will act quickly to get your case resolved in the best possible way</span></b>.
	<br /><br />
	<b>I will take the time:</b><span style="font-family: symbol;"><span><span style="font: 7pt &quot;times new roman&quot;;"></span></span></span><b>
	<br />
</font>

<ul>
    <li>
	<font face="Garamond, Times, Serif" style="font-size: 16px;"><b>to speak with you and your family about the facts and the law of your case.</b>
	<span style="font-family: symbol;"><span>
	<span style="font: 7pt &quot;times new roman&quot;;"></span>
	</span></span>
	</font>
    </li>
</ul>

<font face="Garamond, Times, Serif" style="font-size: 16px;">
	<span style="font-family: symbol;"><span>
	<span style="font: 7pt &quot;times new roman&quot;;"></span>
	</span></span>
</font>

<ul>
    <li>
	<font face="Garamond, Times, Serif" style="font-size: 16px;">
	<b>to work to make sure you understand the legal process.</b>
	</font>
    </li>
</ul>

<ul>
    <li>
	<font face="Garamond, Times, Serif" style="font-size: 16px;"><b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">
	to explore and discuss with you legal defenses.
	</font>
    </li>
</ul>

</div></div></div>

<div id="content2" style="display:block">
	<div style="display:block">
		<div style="display:block">
			<p style="text-align: center;">
				<font face="Garamond, Times, Serif">
					<strong>
						<font style="font-size: 16px;">
						Criminal Defense for the Central Texas Hill Country covering Travis, Hays, Williamson, Burnet, Llano, Blanco, Lampasas, Bastrop, and Caldwell Counties
						</font>
					</strong>
				</font>
			</p>
		</div>
	</div>
</div>

<div id="content3" style="display:block">
	<div style="display:block">
		<div style="display:block">
			<p style="text-align: center;">
				<b>
				<font face="Garamond, Times, Serif" style="font-size: 16px;">
					The Law Office of Gary E. Prust <br />
					1607 Nueces St.<br />
					Austin, TX 78701<br />
					Tel. 512-469-0092<br />
					Fax 512-469-9102<br />
				</font>

				<font face="Garamond, Times, Serif" style="font-size: 16px;">
				<a href="mailto:gary@prustlaw.com">gary@prustlaw.com</a>
				</font>
			</p>
		</div>
	</div>
</div>

</div>	
</div>

<div class="sf_extra12"><span></span></div>        
<div class="sf_subnavigation2"></div>	
<div class="sf_extra7"><span></span></div>
