<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
    <title>Law Office of Gary E. Prust - Central Texas Criminal Defense</title>
    <meta name="description" content="Law Office of Gary E. Prust. Criminal Defense for Austin and the Central Texas Hill Country. Travis, Burnet, Llano, Blanco, Lampasas, Williamson, and Hays Counties."/>
    <meta name="keywords" content="Austin Criminal Defense Lawyer, Burnet, Llano, Marble Falls, Blanco, Lampasas, Williamson County, Hays County, Round Rock, Georgetown, San Marcos, Johnson City, Travis County. Criminal Defense."/>
    <meta name="google-site-verification" content="ZxM1iW2YEHml17iJ0QFTaxWMlnMCAWSgROTHrA6-XDU"/>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <meta http-equiv='Content-Location' content='/Home.html' />
    <meta name="generator" content="Starfield Technologies; WebSite Tonight v5.0.1"/>
    <style>
    body { margin:0; padding:0; }
    </style>





	<script type='text/javascript' src='scripts/siteUtil.js?395410690'></script>



<script language='javascript'>var _pagename='Home.html';</script>    <link rel='stylesheet' type='text/css' id='layout4.css' href='layout4.css?395410690' />
    <link rel='stylesheet' type='text/css' id='theme.css' href='theme.css?395410690' />
    <link rel='stylesheet' type='text/css' id='color_1.css' href='color_1.css?395410690' />
    <link rel='stylesheet' type='text/css' id='custom.css' href='custom.css?395410690' />
    
</head>

<body id='page_3b8bb67a-b302-4ca6-a77e-d644346120ea' >

<div class="sf_outer_wrapper">
	
	<!-- 1 --><div class="sf_extra1"><span></span></div>
	
	<div class="sf_wrapper"><div style='display:block;overflow:visible;margin:0;padding:0;'><div class='sf_undocked' style='display:block;height:0;position:absolute;margin:0;padding:0;overflow:visible;width:0;top:0;z-index:999998;left:auto;'>
</div></div>

	
		<div class="sf_navigation_top">
			<!-- Nav:Begin -->
			
			<!-- Nav:End -->
	    </div><!-- /sf_navigation_top -->

		<!-- 10 --><div class="sf_extra10"><span></span></div>

		<div class="sf_header_wrapper">

			<!-- 2 --><div class="sf_extra2"><span></span></div>

			<div class="sf_main_header">
				<!-- MainHead:Begin -->
				<div style="display:block" ><font face="Garamond, Times, Serif" style="font-size: 42px;">The Law Office of Gary E. Prust</font></div>
				<!-- MainHead:End -->
			</div>

			<!-- 3 --><div class="sf_extra3"><span></span></div>

			<div class="sf_sub_header">
				<!-- SubHead:Begin -->
				<div style="display:block" >Your Subtitle text</div>
				<!-- SubHead:End -->
			</div>

		</div><!-- /sf_header_wrapper -->

		<!-- 4 --><div class="sf_extra4"><span></span></div>

		<div class="sf_navigation">
			<!-- Nav:Begin -->
			<div style="display:block" ><ul id="Nav1" class="nav"><li class="sf_first_nav_item">
<a href="Home.html" target="_self" onClick="">Texas Criminal Defense</a></li><li>
<a href="About.html" target="_self" onClick="">About</a></li><li class="sf_last_nav_item">
<a href="Contact.html" target="_self" onClick="">Contact Us</a></li></ul></div>
			<!-- Nav:End -->
		</div><!-- /sf_navigation -->

		<!-- 5 --><div class="sf_extra5"><span></span></div>

		<div class="sf_pagetitle">
			<!-- PageTitle:Begin -->
			<div style="display:block" ><h1><b><font face="Garamond, Times, Serif">Law Office of Gary E. Prust - Central Texas Criminal Defense</font></b></h1></div>
			<!-- PageTitle:End -->
		</div>

		<!-- 6 --><div class="sf_extra6"><span></span></div>

		<div class="sf_subnavigation">
            <!-- Nav:Begin -->
            
            <!-- Nav:End -->
        </div><!-- /sf_subnavigation -->

        <!-- 11 --><div class="sf_extra11"><span></span></div>
		
		<div class="sf_content">
			<!-- Content:Begin -->
			<div style="display:block;zoom:1" ><div id="content1"><div style="display:block" ><div style="display:block" ><!-- layout 4 -->
<p><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:View>Normal</w:View>
  <w:Zoom>0</w:Zoom>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";}
</style>
<![endif]-->
</p>
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:View>Normal</w:View>
  <w:Zoom>0</w:Zoom>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if !mso]><object
 classid="clsid:38481807-CA0E-42D2-BF39-B33AF135CC4D" id=ieooui></object>
<style>
st1\:*{behavior:url(#ieooui) }
</style>
<![endif]--><!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";}
</style>
<![endif]--><font face="Garamond, Times, Serif" style="font-size: 16px;"><b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">If you have been accused of a crime in central </span></b><b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">Texas</span></b><b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">, you need an
experienced attorney on your side who will act quickly to get your case
resolved in the best possible way</span></b>.<b><br />
</b><br />
<b>I will take the time:</b><span style="font-family: symbol;"><span><span style="font: 7pt &quot;times new roman&quot;;"></span></span></span><b><br />
</b></font>
<ul>
    <li><font face="Garamond, Times, Serif" style="font-size: 16px;"><b>
    to speak
    with you and your family about the facts and the law of your case.</b><span style="font-family: symbol;"><span><span style="font: 7pt &quot;times new roman&quot;;"></span></span></span></font></li>
</ul>
<font face="Garamond, Times, Serif" style="font-size: 16px;"><span style="font-family: symbol;"><span><span style="font: 7pt &quot;times new roman&quot;;">
</span></span></span></font>
<ul>
    <li><font face="Garamond, Times, Serif" style="font-size: 16px;"><b>to work
    to make sure you understand the legal process.</b></font></li>
</ul>
<font face="Garamond, Times, Serif" style="font-size: 16px;"><b>
</b></font>
<ul>
    <li><font face="Garamond, Times, Serif" style="font-size: 16px;"><b><span style="font-size: 12pt; font-family: &quot;times new roman&quot;;">to
    explore and discuss with you legal defenses.</span></b></font></li>
</ul></div></div></div><div id="content2"><div style="display:block" ><div style="display:block" ><p style="text-align: center;"><font face="Garamond, Times, Serif"><strong><font style="font-size: 16px;">Criminal Defense for the Central Texas Hill Country covering Travis, Hays, Williamson, Burnet, Llano, Blanco, Lampasas, Bastrop, and Caldwell Counties</font><strong></strong></strong></font></p></div></div></div><div id="content3"><div style="display:block" ><div style="display:block" ><p style="text-align: center;"><b><font face="Garamond, Times, Serif" style="font-size: 16px;">The Law Office of Gary E. Prust <br />
1607 Nueces St.<br />
Austin, TX 78701<br />
Tel. 512-469-0092<br />
Fax 512-469-9102<br />
</font><font face="Garamond, Times, Serif" style="font-size: 16px;"><a href="mailto:gary@prustlaw.com">gary@prustlaw.com</a></font></b>
</p></div></div></div></div>
			<!-- Content:End -->
		</div><!-- /sf_content -->

		<!-- 12 --><div class="sf_extra12"><span></span></div>
        
        <div class="sf_subnavigation2">
            <!-- Nav:Begin -->
            
            <!-- Nav:End -->
        </div><!-- /sf_subnavigation2 -->
		
		<!-- 7 --><div class="sf_extra7"><span></span></div>

		<div class="sf_footer">
			<!-- Footer:Begin -->
			<div style="display:block" >Content copyright <script type='text/javascript'>if (typeof(getCopyrightDate)=='function') document.write(getCopyrightDate(2010, null, '-')); else document.write((new Date()).getFullYear());</script>. Gary E. Prust. All rights reserved.</div>			
			<!-- Footer:Begin -->
		</div><!-- /sf_footer -->

		<!-- 8 --><div class="sf_extra8"><span></span></div>

	</div><!-- /sf_wrapper -->

	<!-- 9 --><div class="sf_extra9"><span></span></div>

</div><!-- /sf_outer_wrapper -->

<div class="sf_banner">
	<div style="display:block" ><a href='http://www.godaddy.com/hosting/website-builder.aspx?isc=wscfwst304' target='_blank'><img id='bannerImage' src="images/gd_black.gif" alt='Web Hosting Companies' title='Web Hosting Companies' border='0'/></a></div>
</div>
			
   
</body>
</html>

