/*--------------------------------------------------
		Theme_# 	547
		Cat 			Business & Legal
		Name			Lawyer
--------------------------------------------------*/

body {

}

p {	
}

.sf_outer_wrapper {
}

.sf_extra1 {
	
}

.sf_wrapper {
}

/*--------------------------------
		Top Navigation
---------------------------------*/

.sf_navigation_top {
}

.sf_navigation_top ul {	
}

.sf_navigation_top ul:after {	
}

.sf_navigation_top ul li {	
}

.sf_navigation_top ul li.sf_last_nav_item {	
}

.sf_navigation_top ul li.sf_first_nav_item {
}

.sf_navigation_top ul li a {		
}

.sf_navigation_top ul li a:visited {	
}

.sf_navigation_top ul li a:hover{	
}

/*--------------------------------
		End Top Navigation
---------------------------------*/

.sf_extra10 {	

}

/*--------------------------------
		Header
---------------------------------*/

.sf_header_wrapper {
	background-image: url(header_1.png);
	background-repeat: no-repeat;
}

* html .sf_header_wrapper {
	_behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "images/spacer.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}

.sf_extra2 {	
}

.sf_main_header {	
	background-color: #F4EDDD;
	color: #333333;
}

.sf_extra3 {	
}

.sf_sub_header {	

}

.sf_main_header p, .sf_sub_header p {
}

/*--------------------------
		End Header
--------------------------*/

.sf_extra4 {	
}

/*--------------------------------
		Navigation
---------------------------------*/

.sf_navigation {	
	border: 13px solid #333333;
	background: #ffffff;
}

.sf_navigation ul {

}

.sf_navigation ul:after {
}

.sf_navigation ul li {
	background-image: url(separator_1.gif);
	background-repeat: no-repeat;
	background-position: top center;
}

.sf_navigation ul li.sf_last_nav_item {	
}

.sf_navigation ul li.sf_first_nav_item {
}

.sf_navigation ul li a:link {
	color: #333333;
}

.sf_navigation ul li a:visited {
	color: #333333;
}

.sf_navigation ul li a:hover{
	color: #336699;
}


/*--------------------------------
		End Navigation
---------------------------------*/

.sf_extra5 {	
	background-image: url(topofframe_1.gif);
	background-repeat: no-repeat;
}

/*--------------------------------
		 	Page Title
---------------------------------*/

.sf_pagetitle {
	background-image: url(backofframe_1.gif);
	background-repeat: repeat-y;
	background-color: #F4EDDD;
}

/*--------------------------------
		 End Page Title
---------------------------------*/

.sf_extra6 {	
	background-image: url(midofframe_1.gif);
	background-repeat: no-repeat;	
}

/*--------------------------------
		 Sub Navigation
---------------------------------*/

.sf_subnavigation {
	display: none;
}

.sf_subnavigation ul {	
}

.sf_subnavigation ul:after {	
}

.sf_subnavigation ul li {	
}

.sf_subnavigation ul li.sf_last_nav_item {
}

.sf_subnavigation ul li.sf_first_nav_item {
}

.sf_subnavigation ul li a {	
}

.sf_subnavigation ul li a:visited {	
}

.sf_subnavigation ul li a:hover {	
}

/*--------------------------------
		 End Sub Navigation
---------------------------------*/

.sf_extra11 {
}
	
/*--------------------------
		Content
--------------------------*/

.sf_content {	
	background-image: url(backofframe_1.gif);
	background-repeat: repeat-y;
	background-color: #F4EDDD;
}	

.sf_content img {	

}

/*--------------------------
		End Content
--------------------------*/


.sf_extra12 {
	background-image: url(botofframe_1.gif);
	background-repeat: no-repeat;
}


/*--------------------------------
		 Sub Navigation2
---------------------------------*/

.sf_subnavigation2 {
}

.sf_subnavigation2 ul {	
}

.sf_subnavigation2 ul:after {	
}

.sf_subnavigation2 ul li {	
}

.sf_subnavigation2 ul li.sf_last_nav_item {
}

.sf_subnavigation2 ul li.sf_first_nav_item {
}

.sf_subnavigation2 ul li a {	
}

.sf_subnavigation2 ul li a:visited {	
}

.sf_subnavigation2 ul li a:hover{	
}

/*--------------------------------
		 End Sub Navigation2
---------------------------------*/

.sf_extra7 {	
}

.sf_extra7 span{	
}

/*--------------------------
		 Footer
--------------------------*/

.sf_footer {	
}

/*--------------------------
		End Footer
--------------------------*/


.sf_extra8 {	
}

.sf_extra9 {	
	
}


/*--------------------------
		Extra Stuff
--------------------------*/


a:link {
	color: #336699;	
}

a:visited {
	color: #336699;
}

a:hover {
}

.sf_banner {
	color: #ffffff;
}

.sf_banner img {
}

.sf_banner a {
	color: #ffffff;
}

.sf_banner a:visited {
	color: #ffffff;
}

.sf_banner a:hover {
}

/** 
 * -------------------------------
 * @section DBNow
 * -------------------------------
 */

.Data_Central_color7 {
	background-color:#111111;
	color:#fff;
}

.Data_Central_color1 {
	background-color:#333333;
	color:#fff;
}

.Data_Central_color2 {
	background-color:#cec2a6;
}

.Data_Central_color3 {
	background-color:#dacfb6;
}

.Data_Central_color6 {
	background-color:#e6ddc7;
}

.Data_Central_color4 {
	background-color:#F4EDDD;
}

.Data_Central_color5 {
	border-color:#e6ddc7;
}
