.sf_wrapper { background-image: url(images/bg_vm2w.jpg);
 }
body#page_3b8bb67a-b302-4ca6-a77e-d644346120ea div#content2 { width:43.01%; }
body#page_b7755dcf-6619-4b48-9327-b8bc5e50c24b div#content2 { width:20.73%; }
body#page_3b8bb67a-b302-4ca6-a77e-d644346120ea div#content1 { width:94.99%; }
