
<div class="sf_footer">
	<div style="display:block" >
		Content copyright 
		<script type='text/javascript'>if (typeof(getCopyrightDate)=='function') document.write(getCopyrightDate(2010, null, '-')); else document.write((new Date()).getFullYear());</script>
		. Gary E. Prust. All rights reserved.
	</div>			
</div>

<div class="sf_extra8"><span></span></div>

</div>

<div class="sf_extra9"><span></span></div>

</div>
