<% if member_signed_in? and params[:controller] != 'pages'  %>
	<table id="HeaderID" align="center" width="850px" cellspacing=0 cellpadding=0>
		<tr>
			<td style="padding-top:25px">
				<ul id="menu">
					<li><%= link_to "Home", :controller => "/homes" %></li>
					<li><a href="/clients/">Clients</a>
						<ul>
							<li><a href="/clients/new">Create Client</a></li>
						</ul>
					</li>
					<li><a href=#>Employees</a></li>
					<li><a href=#>Events</a></li>
					<li><%= link_to "Sign Out", destroy_member_session_path, :method => :delete %></li>
				</ul>
			</td>
		</tr>
	</table>
<% end %>
